<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Klart'Digi UI components library" />
  <title>Scheduler Component</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="styles.09e2c710755c8867a460.css">
</head>

<body>
  <klartdigi-root></klartdigi-root>
  <script src="runtime.7b63b9fd40098a2e8207.js" defer></script>
  <script src="polyfills.94daefd414b8355106ab.js" defer></script>
  <script src="main.96d05dce61d2fa90e4fd.js" defer></script>
</body>

</html>