@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif; }

/*==================================
======== Global Variables ==========
==================================== */
/*==================================
=========== Global Styles ===========
==================================== */
button {
  outline: none;
  border: none;
  background-color: none;
  letter-spacing: 0.085em;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.2s all linear;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  button:active {
    animation-name: jump;
    animation-duration: 0.1s;
    animation-play-state: running; }
  button.icon-btn {
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0; }
  button.text-btn {
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0; }

.primary-color {
  color: #2ac2e5; }

.primary-color-bg {
  background: #2ac2e5;
  color: #fff; }

.heading-wrapper {
  width: 100%;
  text-align: center; }
  .heading-wrapper h2 {
    display: inline-block;
    font-size: 38px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    padding-bottom: 5px; }
  .heading-wrapper hr {
    padding: 0;
    margin: 0 auto;
    width: 250px;
    height: 5px;
    background-color: #2ac2e5; }

@media (max-width: 1400px) {
  .heading-wrapper h2 {
    font-size: 38px; }
  .heading-wrapper hr {
    width: 250px;
    height: 5px; } }

@media (max-width: 890px) {
  .heading-wrapper h2 {
    font-size: 28px; }
  .heading-wrapper hr {
    width: 200px;
    height: 3px; } }

@media (max-width: 572px) {
  .heading-wrapper h2 {
    font-size: 24px; }
  .heading-wrapper hr {
    width: 200px;
    height: 3px; } }

@keyframes jump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*==================================
============= HEADER ===============
==================================== */
@media (max-width: 1520px) {
  #header nav .navigations ul li button {
    color: #414141; }
  #header nav .navigations ul li.active button {
    color: #000; } }

@media (max-width: 1051px) {
  #header {
    padding: 5px 30px; } }

@media (max-width: 717px) {
  #header nav .navigations {
    display: none; }
  #header nav .ham-burger {
    display: block;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; }
    #header nav .ham-burger .line {
      width: 25px;
      height: 2px;
      background: #414141;
      transition: all 0.2s ease-out; }
    #header nav .ham-burger.active {
      display: block;
      position: relative; }
      #header nav .ham-burger.active .line:nth-child(1) {
        position: absolute;
        left: 0;
        top: 12px;
        transform: rotate(45deg); }
      #header nav .ham-burger.active .line:nth-child(2) {
        opacity: 0; }
      #header nav .ham-burger.active .line:nth-child(3) {
        position: absolute;
        left: 0px;
        top: 12px;
        transform: rotate(-45deg); }
  #header nav .mobile-navigation {
    transition: 0.2s all ease-out;
    display: block;
    position: absolute;
    left: 101%;
    top: 50px;
    width: 70%;
    height: 100vh;
    z-index: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #header nav .mobile-navigation.active {
      left: 30%; }
    #header nav .mobile-navigation button {
      font-size: 20px;
      padding: 10px 20px;
      margin: 20px 0;
      font-weight: 600; }
  #content {
    right: 0%;
    position: relative;
    transition: 0.2s all ease-out; }
    #content .overlay {
      background: rgba(0, 0, 0, 0);
      transition: 0.2s all ease-out; }
    #content.active {
      right: 70%; }
      #content.active .overlay {
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 50px;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 2; } }

/*==================================
============== HOME ================
==================================== */
@media (max-width: 1520px) {
  #home {
    background-image: none; }
    #home .wrapper {
      flex-direction: column-reverse; }
      #home .wrapper .text-content {
        width: auto;
        text-align: center; }
        #home .wrapper .text-content h1 {
          margin-top: 20px;
          text-align: center;
          width: 700px; }
        #home .wrapper .text-content button {
          margin-top: 60px;
          padding: 25px 60px; } }

@media (max-width: 936px) {
  #home {
    background-image: none; }
    #home .wrapper {
      flex-direction: column-reverse; }
      #home .wrapper .text-content {
        width: auto;
        text-align: center; }
        #home .wrapper .text-content h1 {
          margin-top: 20px;
          text-align: center;
          width: 700px;
          font-size: 36px; }
        #home .wrapper .text-content button {
          margin-top: 60px;
          padding: 25px 50px; }
      #home .wrapper .illustration img {
        width: 650px; } }

@media (max-width: 756px) {
  #home {
    background-image: none; }
    #home .wrapper .illustration img {
      width: 550px; } }

@media (max-width: 572px) {
  #home .wrapper {
    flex-direction: column-reverse; }
    #home .wrapper .text-content h1 {
      margin-top: 20px;
      text-align: center;
      width: 450px;
      font-size: 30px;
      line-height: normal; }
    #home .wrapper .text-content button {
      margin-top: 40px;
      padding: 20px 60px; }
    #home .wrapper .illustration img {
      width: 450px; } }

@media (max-width: 469px) {
  #home .wrapper .text-content h1 {
    margin-top: 20px;
    text-align: center;
    width: 350px;
    font-size: 30px; }
  #home .wrapper .text-content button {
    margin-top: 40px;
    padding: 18px 40px;
    font-size: 20px; }
  #home .wrapper .illustration img {
    width: 350px; } }

/*==================================
========= Product Section ==========
==================================== */
@media (max-width: 1400px) {
  #product .heading-wrapper h2 {
    font-size: 38px; }
  #product .heading-wrapper hr {
    width: 250px;
    height: 5px; }
  #product .product-svg svg {
    max-width: 900px;
    padding: 50px 20px 30px 20px; }
  #product .bg-img-1,
  #product .bg-img-2 {
    display: none; } }

@media (max-width: 890px) {
  #product .heading-wrapper h2 {
    font-size: 28px; }
  #product .heading-wrapper hr {
    width: 200px;
    height: 3px; }
  #product .product-svg svg {
    max-width: 750px;
    padding: 50px 20px 30px 20px; }
  #product .bg-img-1,
  #product .bg-img-2 {
    display: none; } }

@media (max-width: 572px) {
  #product {
    padding: 20px 0; }
    #product .heading-wrapper h2 {
      font-size: 28px; }
    #product .heading-wrapper hr {
      width: 200px;
      height: 3px; }
    #product .product-svg svg {
      max-width: 750px;
      padding: 50px 20px 30px 20px; }
    #product .bg-img-1,
    #product .bg-img-2 {
      display: none; } }

/*==================================
========= Product Features =========
==================================== */
@media (max-width: 1351px) {
  #product-features .feat-item {
    width: 270px;
    height: 350px; }
    #product-features .feat-item img {
      width: 150px; }
    #product-features .feat-item h3 {
      margin-top: 25px;
      font-size: 20px;
      font-weight: 600; }
    #product-features .feat-item p {
      margin: 10px 0 0 0; } }

@media (max-width: 1151px) {
  #product-features {
    padding: 0 30px; }
    #product-features .feat-item {
      width: 270px;
      height: 350px; }
      #product-features .feat-item img {
        width: 150px; }
      #product-features .feat-item h3 {
        margin-top: 25px;
        font-size: 20px;
        font-weight: 600; }
      #product-features .feat-item p {
        margin: 10px 0 0 0; } }

@media (max-width: 891px) {
  #product-features .feat-item {
    width: 230px;
    height: 270px; }
    #product-features .feat-item img {
      width: 130px; }
    #product-features .feat-item h3 {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 600; }
    #product-features .feat-item p {
      margin: 10px 0 0 0;
      font-size: 12px; } }

@media (max-width: 572px) {
  #product-features .feat-item {
    width: 150px;
    height: 270px; }
    #product-features .feat-item img {
      width: 100px; }
    #product-features .feat-item h3 {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600; }
    #product-features .feat-item p {
      margin: 10px 0 0 0;
      font-size: 10px; } }

@media (max-width: 430px) {
  #product-features .feat-item {
    width: 120px;
    height: 210px; }
    #product-features .feat-item img {
      width: 80px; }
    #product-features .feat-item h3 {
      margin-top: 14px;
      font-size: 14px;
      font-weight: 600; }
    #product-features .feat-item p {
      margin: 10px 0 0 0;
      font-size: 9px; } }

/*==================================
========= Product Features =========
==================================== */
@media (max-width: 1400px) {
  #reason .heading-wrapper h2 {
    font-size: 38px; }
  #reason .heading-wrapper hr {
    width: 250px;
    height: 5px; }
  #reason .bg-img-1,
  #reason .bg-img-2 {
    display: none; } }

@media (max-width: 890px) {
  #reason .heading-wrapper h2 {
    font-size: 28px; }
  #reason .heading-wrapper hr {
    width: 200px;
    height: 3px; }
  #reason .bg-img-1,
  #reason .bg-img-2 {
    display: none; } }

@media (max-width: 572px) {
  #reason {
    padding: 50px 0; }
    #reason .heading-wrapper h2 {
      font-size: 24px; }
    #reason .heading-wrapper hr {
      width: 200px;
      height: 3px; }
    #reason .bg-img-1,
    #reason .bg-img-2 {
      display: none; } }

/*==================================
=========== Speciality =============
==================================== */
@media (max-width: 696px) {
  #speciality img {
    width: 500px; }
  #speciality p {
    width: 100%;
    padding: 0 10px; } }

@media (max-width: 520px) {
  #speciality img {
    width: 100%;
    padding: 0 20px; }
  #speciality p {
    width: 100%;
    padding: 0 10px;
    font-size: 14px; } }

/*==================================
=========== Contact us =============
==================================== */
@media (max-width: 1326px) {
  #contact {
    padding: 50px 40px; } }

@media (max-width: 992px) {
  #contact #form {
    height: 700px;
    align-items: center; }
    #contact #form .inputs {
      width: 80%; }
  #contact #middle-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px; }
    #contact #middle-line div {
      height: 5px;
      background-color: #c4c4c4;
      width: 90%;
      border: none;
      margin: 0; }
  #contact #discord {
    height: 400px; }
    #contact #discord .content {
      width: 80%;
      text-align: center;
      align-items: center; } }

@media (max-width: 741px) {
  #contact {
    padding: 40px 10px; }
    #contact #form {
      align-items: center; }
      #contact #form .inputs {
        width: 100%; }
        #contact #form .inputs button {
          font-size: 20px;
          height: 60px; }
    #contact #middle-line {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 50px; }
      #contact #middle-line div {
        height: 5px;
        background-color: #c4c4c4;
        width: 100%;
        border: none;
        margin: 0; }
    #contact #discord {
      height: 250 px; }
      #contact #discord .content {
        width: 100%;
        text-align: center;
        align-items: center; }
        #contact #discord .content h1 {
          font-size: 25px; }
        #contact #discord .content button {
          font-size: 20px;
          height: 60px;
          width: 100%; } }

@media (max-width: 957px) {
  #footer p {
    margin-top: 30px; } }

/*==================================
============= Footer ===============
==================================== */
@media (max-width: 580px) {
  #footer p {
    font-size: 14px;
    padding: 0px 10px; } }
